.button {
  width: 48px;
  height: 48px;
  border-width: 0;
  background-color: #e74c3c;
}

.start {
  -webkit-mask-image: url('./start.svg');
  mask-image: url('./start.svg');
}

.stop {
  -webkit-mask-image: url('./stop.svg');
  mask-image: url('./stop.svg');
}
