.start {
  -webkit-mask-image: url('./start.svg');
  mask-image: url('./start.svg');
}

.stop {
  -webkit-mask-image: url('./stop.svg');
  mask-image: url('./stop.svg');
}

.restart {
  -webkit-mask-image: url('./restart.svg');
  mask-image: url('./restart.svg');
}

.hide {
  display: none;
}

.show {
  display: inline;
}
